html {
    padding: 18px;
    background: white;
}

body {
    max-width: 1920px;
    min-width: 320px;
    background-color: #cccccc;
}

/*-------------------------------------------------------------------------*/

header {
    display: flex;
    justify-content: flex-end;
    padding-right: 15%;
}

header > img:hover {
    cursor: pointer;
}

/*------------------------------------------------------------------------*/

section {
    padding-bottom: 2em;
}

/*--------------------------------------------------------------------------*/

.info {
    margin-top: 2em;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.arrow {
    background-color: hsl(50,100%,60.8%);
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    box-shadow: 1px 1px hsl(21,100%,66.7%);
}

.arrow:hover {
    opacity: 80%;
    cursor: pointer;
}
.cars {
    width: 50%;
}

.info > .cars > .intro > p {
    font-size: 32px;
}

/*-----------------------------------------------------------------------*/

#box2 {
    display: flex;
    justify-content: center;
}

.video {
    width: 50%;
    background: url(images/video.png);
    background-size: cover;
}

section > .video > .intro {
    background: rgba(128,128,128,.7);
    margin-top: -1.5em;
}

section > .video > .intro > p {
    font-size: 24px;
    color: #ffffff;
    text-align: center;
}

div > .play {
    margin: auto;
    margin-top: 7em;
    margin-bottom: 7em;
}

.play {
    background-color: hsl(50,100%,60.8%);
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    box-shadow: 1px 1px hsl(21,100%,66.7%);
}

.play:hover {
    opacity: 80%;
    cursor: pointer;
}

/*--------------------------------------------------------------------------*/

section > .choice > h2 {
    text-align: center;
    font-size: 40px;
}

section > .choice > .table > .value > h3 {
    font-size: 28px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

section > .choice > .table > .value > p {
    font-size: 18px;
}

section > .choice > .table > .value > .logo {
    height: 100px;
}

section > .choice > .table {
    padding: 3em;
    display: grid;
    grid-gap: 1em;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
}

/*-----------------------------------------------------------------------*/

section > .footer > h2 {
    text-align: center;
    font-size: 40px;
}

section > .footer > .try {
    margin-top: 1em !important;
    padding-bottom: 0.8em;
    margin: auto;
    height: 75px;
    width: 300px;
    background-color: hsl(50,100%,60.8%);
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

section > .footer > .try:hover {
    cursor: pointer;
}

section > .footer > .try > div {
    display: flex;
    justify-content: center;
    align-items: center;
}

section > .footer > .try > div > h3 {
    font-size: 28px;
}

section > .footer > .hover  {
    margin-top: 1em !important;
    padding-bottom: 0.8em;
    margin: auto;
    height: 75px;
    width: 300px;
    background-color: hsl(50,100%,60.8%);
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

section > .footer > .hover > div {
    display: flex;
    justify-content: center;
    align-items: center;
}

section > .footer > .hover > div > h3 {
    font-size: 28px;
}

section > .footer > .hover:hover  {
    background: linear-gradient(90deg, rgba(201,91,12,1) 0%, rgba(229,233,45,1) 34%, rgba(53,130,20,1) 100%);
    cursor: pointer;
}